.form__field{
	border: 0;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 30px;
	padding: 0 0 8px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.form__field::placeholder{
	color: rgba(0, 0, 0, 0.5);
}
.form__field:active{
	outline: none;
}
.form__field:focus{
	outline: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: none;
}
